# Set local options for make here
# os x / brew
BOOST_LIB_SUFFIX = -mt
#BOOST_LIB_DIR    = /home/export/rob.miller/projects/boost/lib
#BOOST_LIB_DIR    = /usr/lib64
BOOST_LIB_DIR    = /usr/local/lib

#BOOST_INC_DIR    = /home/export/rob.miller/projects/boost/include
#BOOST_INC_DIR    = /usr/include/boost
BOOST_INC_DIR    = /usr/local/include
